html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: black;
    color: white;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body, main {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

@font-face {
  font-family: Rader;
  src: url(../public/fonts/PPRader-Bold.woff2);
  font-weight: bold;
  font-style: normal;
}