html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: black;
    color: white;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: #cdcdcd;
  color: red;
}

body, main {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  position: relative;
}

@font-face {
  font-family: Rader;
  src: url(../public/fonts/PPRader-Bold.woff2);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Rader;
  src: url(../public/fonts/PPRader-BoldItalic.woff2);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Rader;
  src: url(../public/fonts/PPRader-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Rader;
  src: url(../public/fonts/PPRader-Italic.woff2);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Rader;
  src: url(../public/fonts/PPRader-Thin.woff2);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Rader;
  src: url(../public/fonts/PPRader-ThinItalic.woff2);
  font-weight: 100;
  font-style: italic;
}