
@keyframes appear {
  to {
    opacity: 1;
  }
}

.homepageTitle {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;

  opacity: 0;
  animation: appear 1s ease-out forwards;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  padding-bottom: 10vh;
  padding-bottom: 10dvh;

  h1, p, a, .underline {
    font-size: 10vw * 0.7;
    margin: 0;

    font-family: Rader, sans-serif;
    font-weight: bold;
    font-style: normal;
    line-height: 0.9em;
    height: 0.9em;
    font-feature-settings: "ss02";

    @media (max-width: 991px) {
      font-size: 10vw;
    }
  }

  .underline, a {
    position: relative;
  }

  .ig{
    position: absolute;
    right: -35px;
    bottom: 0.3vw * 0.7;
    font-size: 18px;
    line-height: 0.9em;
    height: 0.9em;
    font-feature-settings: "ss11";

    @media (max-width: 991px) {
      bottom: 0.3vw;
      font-size: 14px;
      right: -25px;
    }
  }

  a {
    @media (hover: hover) {
      &:hover {
        opacity: 0.5;
      }
    }
  }
}